{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   Side Bar for Mobile filter
  </div>
  <div class="col-sm-8 offset-sm-1">
   Mobile Product List <br> <div class="list-group">
    <a href="{%url 'mobile' %}" class="list-group-item list-group-item-action" aria-current = "true">All Mobile</a>
     
    <!-- views url mobile=name / 
      mobiledata= name calling views with slug=data -->

    <a href="{%url 'mobiledata' 'Redmi'%}" class="list-group-item list-group-item-action" aria-current = "true">Redmi Mobile</a>
    <a href="{%url 'mobiledata' 'Samsung' %}" class="list-group-item list-group-item-action" aria-current = "true">Samsung Mobile</a>
    <a href="{%url 'mobiledata' 'below' %}" class="list-group-item list-group-item-action" aria-current = "true">Mobile Under 10K</a>
    <a href="{%url 'mobiledata' 'above' %}" class="list-group-item list-group-item-action" aria-current = "true">Mobile Above 10k</a>
     </div> 
     <div class="col-sm-8">
      <div class="row">
          {%for product in mobile%}
          <div class="col-sm-4 text-center mb-4">
              <a href="{% url 'product-detail' product.id %}" class="btn">
                  <div class="item">
                      <img src="{{product.product_images.url}}" alt="" height="300" class="">
                      <div class="fw-bold">{{product.title}}</div>
                      <div class="fw-bold">{{product.discounted_price}}
                          <small class="fw-light text-decoration-line-through">
                              {{product.selling_price}}</small>
                      </div>
                  </div>
              </a>
          </div>
    </div>
    {%endfor%}
  </div>
   </div>
  
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}